html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Roboto Serif', serif;
    line-height: 1.5;
    text-align: justify;
    background-image: url(https://i.postimg.cc/gcNLbL0Y/istockphoto-1209013108-612x612.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}